[user]
	name = johnmanong
	email = johnmanong@gmail.com
[alias]
	st = status
	co = checkout
	mm = merge master
	pom = pull origin master
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr, %cd) %C(bold blue)<%an> %Creset' --abbrev-commit
	ref = for-each-ref --sort=-committerdate refs/heads/
	bitches = branch
	trap = clone
	money = merge
	paid = pull
	pusha = push
	freebase = rebase
	sitch = status
